body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  border: 5px;
  border-color: white;
  padding: 10px;
}

.title {
  background: #e3f4ff;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 8px;
}

.content {
  background: #e3f4ff;
  font-size: 16px;
  padding-bottom: 16px;
  padding-top: 16px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 8px;
}

.button-container {
  background: #e3f4ff;
  font-size: 16px;
  text-align: center;
  padding: 16px;
}

button {
  display: block;
  background: white;
  border: 1px solid #eee;
  font-size: 16px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}
